@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}

.brand-logo{
    font-family: 'Grand Hotel', cursive;
}

.mycard{
    padding: 5%;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
    margin-top: 40px;

}

#topic{
    font-family: 'Grand Hotel', cursive;
}

#lbtn{
    margin-top: 30px;
}

.lors{
    font-size: 30px;
    margin-top: 30px;
}

#lor{
    font-size: 25px;
    font-family: 'Grand Hotel', cursive;
}

#lor1{
    font-size: 25px;
    font-family: 'Grand Hotel', cursive;
    color: red!important;
}


.input-field input:focus {
    border-bottom: 1px solid rgba(50, 4, 255, 0.63) !important;
    box-shadow: 0 1px 0 0 rgba(50, 4, 255, 0.63) !important;
  }

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 30%;
    padding: 1%;
}

.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
    padding: 2%;
}

#create{
    max-width: 600px;
    padding: 3%;
    margin: 26px auto;
    text-align: center;
}

#toast-container{
    top:30px!important;
}